@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Roboto', sans-serif;
  background-image:url("../ui/assets/background.jpg"); 
  background-repeat: no-repeat;
  background-position: center top; 
  background-size: cover;
}

/* @media only screen and (max-width: 1100px){
  body{
    background-size: auto;
  }
  
} */

@media only screen and (max-width: 700px) {
  body { 
    animation: slidein 5s;
    background-image:url("../ui/assets/desbravador-transparente-white.png");
    background-size: auto;
  }
}

@-webkit-keyframes slidein {
  from {background-position: -100px 0px;}
  to {background-position: top;  }
}

@keyframes slidein {
  from {background-position: -100px 0px;}
  to {background-position: top;  }

}
  


